.doc-landing-card {
  height: 15rem;
  box-shadow: rgb(141, 141, 204);
  margin-top: 3rem;
  margin-left: 6rem;
  margin-right: 20rem;
  background-color: rgb(240, 215, 240);
  min-height: 330px;
  width: 80%;
}

.doc-landing-button {
  align-items: flex;
  flex-direction: row;
  padding-right: 5px;
  justify-content: space-between;
  padding-left: 8px;
  margin-top: 3rem;
}

.doc-container {
  padding-top: 90px;
  min-height: 500px;
}

.doc-btn {
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 8px 20px 7px !important;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 30px;
  background-color: #fff;
  color: #ff3278;
  box-shadow: 0 3px 16px 0 #d8d8d8;
  font-family: BrandonTextWeb-Bold, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
}

.doc_profile_image{
  height: 140%;
  width: 90%;
}

