.doc-landing-card {
  height: 15rem;
  box-shadow: rgb(141, 141, 204);
  margin-top: 3rem;
  margin-left: 6rem;
  margin-right: 20rem;
  background-color: rgb(240, 215, 240);
  min-height: 330px;
  width: 80%;
}

.doc-landing-button {
  margin-top: 113px;
  margin-left: -200px;
}

.doc-container {
  padding-top: 90px;
  min-height: 500px;
}

.doc-btn {
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px 20px 7px !important;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 30px;
  background-color: #fff;
  color: #ff3278;
  box-shadow: 0 3px 16px 0 #d8d8d8;
  font-family: BrandonTextWeb-Bold, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
}

.doc_landing_profile_image {
  width: 90%;
}

/* line 69, H:/admin_project/hospital/scss/_main_content.scss */
.single_element h4 {
  margin-bottom: 30px;
}

/* line 72, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .quick_activity_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 575.98px) {
  /* line 72, H:/admin_project/hospital/scss/_main_content.scss */
  .single_element .quick_activity_wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 72, H:/admin_project/hospital/scss/_main_content.scss */
  .single_element .quick_activity_wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 72, H:/admin_project/hospital/scss/_main_content.scss */
  .single_element .quick_activity_wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* line 72, H:/admin_project/hospital/scss/_main_content.scss */
  .single_element .quick_activity_wrap {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 72, H:/admin_project/hospital/scss/_main_content.scss */
  .single_element .quick_activity_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* line 100, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .single_quick_activity {
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 43px 30px;
  position: relative;
  align-items: center;
  justify-content: center;
}

/* line 108, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .single_quick_activity::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-image: url(../../assets/diamond.png);
}

@media (max-width: 575.98px) {
  /* line 100, H:/admin_project/hospital/scss/_main_content.scss */
  .single_element .single_quick_activity {
    padding: 20px 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 100, H:/admin_project/hospital/scss/_main_content.scss */
  .single_element .single_quick_activity {
    padding: 20px 15px;
  }
}

/* line 136, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .single_quick_activity .icon {
  width: 60px;
  height: 60px;
  flex-basis: 60px;
  text-align: right;
}

/* line 141, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .single_quick_activity .icon img {
  width: 100%;
}

/* line 145, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .single_quick_activity .count_content {
  margin-left: 30px;
  flex-basis: 50%;
  text-align: left;
}

/* line 149, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .single_quick_activity .count_content.count_content2 {
  width: 100%;
  text-align: center;
  flex-basis: 100%;
  margin: 0 !important;
}

/* line 154, H:/admin_project/hospital/scss/_main_content.scss */
.single_element
  .single_quick_activity
  .count_content.count_content2
  .blue_color {
  color: #16bbe5 !important;
}

/* line 157, H:/admin_project/hospital/scss/_main_content.scss */
.single_element
  .single_quick_activity
  .count_content.count_content2
  .red_color {
  color: #ea5d5d !important;
}

/* line 160, H:/admin_project/hospital/scss/_main_content.scss */
.single_element
  .single_quick_activity
  .count_content.count_content2
  .yellow_color {
  color: #fcad73 !important;
}

/* line 163, H:/admin_project/hospital/scss/_main_content.scss */
.single_element
  .single_quick_activity
  .count_content.count_content2
  .green_color {
  color: #2daab8 !important;
}

/* line 168, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .single_quick_activity h3 {
  font-size: 45px;
  margin-bottom: 0;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #2e4765;
  margin-bottom: 0px;
  font-family: "Rajdhani", sans-serif;
  line-height: 1;
}

/* line 178, H:/admin_project/hospital/scss/_main_content.scss */
.single_element .single_quick_activity p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 19px;
  font-weight: 500;
  color: #b2b5c0;
  font-family: "Rajdhani", sans-serif;
  line-height: 1;
}

.quickActivityContainer {
  background-color: #dee2e6;
  margin-top: 30px;
}
.white_box {
  padding: 30px;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.border_bottom_1px {
  border-bottom: 1px solid #efefef;
}

.main-title h3 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #2e4765;
  line-height: 1.2;
}

.main-title span {
  font-size: 12px;
  font-weight: 400;
  color: #a3a0fb;
  display: block;
  margin-top: 6px;
}

.box_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

/* line 135, H:/admin_project/hospital/scss/_lms_category.scss */
.Activity_timeline ul {
  border-left: 1px solid #ecfdff;
}

/* line 137, H:/admin_project/hospital/scss/_lms_category.scss */
.Activity_timeline ul li {
  position: relative;
  margin-bottom: 15px;
  list-style: none;
}

/* line 140, H:/admin_project/hospital/scss/_lms_category.scss */
.Activity_timeline ul li:last-child {
  margin-bottom: 20px;
}

/* line 143, H:/admin_project/hospital/scss/_lms_category.scss */
.Activity_timeline ul li .activity_bell {
  background: #3bb0bd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: -5.5px;
  top: 5px;
}

/* line 152, H:/admin_project/hospital/scss/_lms_category.scss */
.Activity_timeline ul li .activity_wrap {
  position: relative;
  padding-left: 30px;
}

/* line 155, H:/admin_project/hospital/scss/_lms_category.scss */
.Activity_timeline ul li .activity_wrap h6 {
  font-size: 18px;
  font-weight: 600;
  color: #2e4765;
}
.main-title h3 span {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: tomato;
  line-height: 0.6;
  /* margin-left: 102px; */
  position: absolute;
  right: 50px;
  top: 32px;
}
/* line 160, H:/admin_project/hospital/scss/_lms_category.scss */
.Activity_timeline ul li .activity_wrap p {
  font-size: 19px;
  line-height: 28px;
  color: #818e94;
  font-weight: 400;
  margin-top: -25px;
}

.docFeeInput {
  width: 100px;
  border: gray 1px solid;
  padding: 4px 7px;
  font-size: 16px;
  border-radius: 12px;
}
.sessionsActivity {
  height: 198px;
  min-height: 150px;
  overflow-y: auto;
}

.docFeeInput:focus-visible {
  border: gray 1px solid;
  outline: gray 1px solid;
}
/*  */
.join-btn {
  margin-top: -46px;
  margin-left: 311px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px 20px 7px !important;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 30px;
  background-color: #fff;
  color: #ff3278;
  box-shadow: 0 3px 16px 0 #9b9b9b;
  font-family: BrandonTextWeb-Bold, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
}
